<br><br>
<h1>Defunciones

    <button class="btn btn-primary" ng-click="loadInitialData()">Cargar datos iniciales</button>
    <button class="btn btn-warning" ng-click="deleteDeceaseds()">Eliminar todos</button>
</h1>
<br>


<br>
<div class="alert alert-warning alert-dismissable">

    <center><strong>¡Bienvenido!</strong> {{data}} </center>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Provincia</th>
            <th>Año</th>
            <th>Vidas</th>
            <th>Multa</th>
            <th>Número de muertos</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="deceased in deceaseds">
            <td><a href="#!/ui/v1/deceaseds/edit/{{deceased.province}}/{{deceased.year}}">{{ deceased.province }}</a></td>
            <td>{{ deceased.year }}</td>
            <td>{{ deceased.life }}</td>
            <td>{{ deceased.penalty }}</td>
            <td>{{ deceased.number }}</td>
            <td>
                <button class="btn btn-danger" id ="delete" ng-click="deleteDeceased(deceased.province,deceased.year)">Eliminar</button>
            </td>
        </tr>
        <tr>
            <td>
                <input class="form-control" ng-model="newDeceased.province" value="Nueva provincia" />
            </td>
            <td>
                <input class="form-control" ng-model="newDeceased.year" type=Number value="2000" />
            </td>
            <td>
                <input class="form-control" ng-model="newDeceased.life" value="Nuevas vidas" />
            </td>
            <td>
                <input class="form-control" ng-model="newDeceased.penalty" value="Nuevos multas" />
            </td>
            <td>
                <input class="form-control" ng-model="newDeceased.number" value="Nuevos número de muertos" />
            </td>
            <td>
                <button class="btn btn-outline-primary my-2 my-sm-0" id="add" ng-click="addDeceased()">Añadir</button>
            </td>
        </tr>

        <br><br>
        <tr>
            <td>
                <select class="form-control" ng-model="atributo" ng-init="atributo='province'">
                                <option value="" disabled selected>Campo Búsqueda</option>
                                <option value="province">Provincia</option>
                                <option value="year">Año</option>
                                <option value="life">Vidas</option>
                                <option value="penalty">Multa</option>
                                <option value="number">Número de muertos</option>
                                <option value="var_">Var</option>
                </select>
            </td>
            <td><input placeholder="Valor" name="valor" class="form-control" ng-model="valor" /></td>
            <td><button class="btn btn-outline-primary" ng-click="busqueda()">Buscar</button></td>
        </tr>

        <tr>
            <td><label>Nº de elementos en cada página: <input name="limit" class="form-control" type="number" min="0" max="10" ng-model="limit" ng-init="limit=0" /></label></td>
            <td><label>Nº de elemento a partir del cual desea paginar: <input name="offset" class="form-control" type="number" min="0" max="10" ng-model="offset" ng-init="offset=0" /></label></td>
            <td><button class="btn btn-outline-primary" ng-click="paginacion()">Paginar</button></td>
            <td><button class="btn btn-outline-secondary" ng-click="paginaAnterior()">Pág Anterior</button></td>
            <td><button class="btn btn-outline-secondary" ng-click="paginaSiguiente()">Pág Siguiente</button></td>
        </tr>
    </tbody>
</table>
