<html ng-app="MiniPostmanApp">

<head>
    <title>Mini Postman</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script src="minipostman-app-acp.js"></script>
    <script src="main-ctrl-elements.js"></script>

</head>

<body ng-controller="MainCtrl">
    <h1>Elementos 
        <button class="btn btn-primary" ng-click="getLoadInitialData()">Cargar datos iniciales</button>
        <button class="btn btn-warning" ng-click="deleteElements()">Eliminar todos</button>
    </h1>
    <br>
    <h2>Búsqueda desde
        <input class="form-control" ng-model="searchProvince.province" >Hasta <br></input>
        <input class="form-control" ng-model="searchYear.year" type=Number />
        <br>
        <button class="btn btn-primary" ng-click="getBusqueda()">Buscar</button>
    </h2>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Provincia</th>
                <th>Año</th>
                <th>Victimas</th>
                <th>Heridos no hospitalizados en accidentes</th>
                <th>Accidentes con victimas</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="element in elements">
                <td>{{ element.province }}</td>
                <td>{{ element.year }}</td>
                <td>{{ element.victims }}</td>
                <td>{{ element.injurednothospitalizedinaccidents }}</td>
                <td>{{ element.accidentswithvictims }}</td>
                <td>
                    <button class="btn btn-danger" ng-click="deleteElement(element.province,element.year)">Eliminar</button>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="form-control" ng-model="newElement.province" value="Nueva provincia"/>
                </td>
                <td>
                    <input class="form-control" ng-model="newElement.year" type=Number value="Nuevo año"/>
                </td>
                <td>
                    <input class="form-control" ng-model="newElement.victims" value="Nuevas victimas"/>
                </td>
                <td>
                    <input class="form-control" ng-model="newElement.injurednothospitalizedinaccidents" value="Nuevos heridos no hospitalizados en accidentes"/>
                </td>
                <td>
                    <input class="form-control" ng-model="newElement.accidentswithvictims" value="Nuevos accidentes con victimas"/>
                </td>
                <td>
                    <button class="btn btn-primary" ng-click="addElement()">Añadir</button>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="form-control" ng-model="putElement.province" value="Modifica provincia"/>
                </td>
                <td>
                    <input class="form-control" ng-model="putElement.year" type=Number value="Modifica año"/>
                </td>
                <td>
                    <input class="form-control" ng-model="putElement.victims" value="Modifica victimas"/>
                </td>
                <td>
                    <input class="form-control" ng-model="putElement.injurednothospitalizedinaccidents" value="Modifica heridos no hospitalizados en accidentes"/>
                </td>
                <td>
                    <input class="form-control" ng-model="putElement.accidentswithvictims" value="Modifica accidentes con victimas"/>
                </td>
                <td>
                    <button class="btn btn-secondary" ng-click="putElement(putElement.province,putElement.year,putElement.victims,putElement.injurednothospitalizedinaccidents,putElement.accidentswithvictims)">Modificar</button>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>