<html ng-app="MiniPostmanApp">

<head>
    <title>Mini Postman</title>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>

    <script src="minipostman-app-aps.js"></script>
    <script src="main-ctrl-deceaseds.js"></script>


</head>
<html ng-app="MiniPostmanApp">

<body ng-controller="MainCtrl">
    <br><br>
    <h1>Defunciones

        <button class="btn btn-primary" ng-click="getLoadInitialData()">Cargar datos iniciales</button>
        <button class="btn btn-warning" ng-click="deleteDeceaseds()">Eliminar todos</button>
    </h1>
    <br><br>
    <h2>Desde
        <input class="form-control" ng-model="newDeceased.province">Hasta </input>
        <input class="form-control" ng-model="newDeceased.year" type=Number />
        <button class="btn btn-primary" ng-click="getBusqueda()">Buscar</button>
    </h2>
    <br>
    <div class="alert alert-warning alert-dismissable">

        <center><strong>¡Atención!</strong> {{data}} </center>
    </div>
    <br>

    <table class="table">
        <thead>
            <tr>
                <th>Provincia</th>
                <th>Año</th>
                <th>Vidas</th>
                <th>Multa</th>
                <th>Número de muertos</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="deceased in deceaseds">
                <td>{{ deceased.province }}</td>
                <td>{{ deceased.year }}</td>
                <td>{{ deceased.life }}</td>
                <td>{{ deceased.penalty }}</td>
                <td>{{ deceased.number }}</td>
                <td>

                    <button class="btn btn-danger" ng-click="deleteDeceased(deceased.province,deceased.year)">Eliminar</button>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="form-control" ng-model="newDeceased.province" value="Nueva provincia" />
                </td>
                <td>
                    <input class="form-control" ng-model="newDeceased.year" type=Number value="Nuevo año" />
                </td>
                <td>
                    <input class="form-control" ng-model="newDeceased.life" value="Nuevas vidas" />
                </td>
                <td>
                    <input class="form-control" ng-model="newDeceased.penalty" value="Nuevos multas" />
                </td>
                <td>
                    <input class="form-control" ng-model="newDeceased.number" value="Nuevos número de muertos" />
                </td>
                <td>
                    <button class="btn btn-primary" ng-click="addDeceased()">Añadir</button>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="form-control" ng-model="putDeceased.province" value="Modifica provincia" />
                </td>
                <td>
                    <input class="form-control" ng-model="putDeceased.year" type=Number value="Modifica año" />
                </td>
                <td>
                    <input class="form-control" ng-model="putDeceased.life" value="Modifica vidas" />
                </td>
                <td>
                    <input class="form-control" ng-model="putDeceased.penalty" value="Modifica multas" />
                </td>
                <td>
                    <input class="form-control" ng-model="putDeceased.number" value="Modifica número de muertos" />
                </td>
                <td>
                    <button class="btn btn-secondary" ng-click="putDeceased(putDeceased.province,putDeceased.year,putDeceased.life,putDeceased.penalty,putDeceased.number)">Modificar</button>
                </td>
            </tr>
            <br><br>
            <tr>
                <ul class="pagination">

                    <td><button class="btn btn-dark" ng-click="previousPage()"><i>Previous Page</i></button></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-dark" ng-click="nextPage()"><i>Next Page</i></button></td>
                    <td></td>
                    <td></td>

                </ul>
            </tr>
        </tbody>
    </table>
</body>

</html>
