<html ng-app="MiniPostmanApp">

<head>
    <title>Mini Postman</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>

    <script src="minipostman-app-acp.js"></script>
    <script src="main-ctrl-elements.js"></script>


</head>

<body ng-controller="MainCtrl">
    <h1>My minipostman Elements</h1>
    <div>
        <label>URL:<input class="form-control text-center" ng-model="url"/></label>
        <!--<button class="btn btn-primary" ng-click="send()">Send</button>-->
        <button type="button" class="btn btn-light" ng-click="sendGet()">GET</button>
        <button type="button" class="btn btn-light" ng-click="sendGetLoadInitialData()">loadInitialData</button>
        <button type="button" class="btn btn-dark" ng-click="sendPostParam(province,year,victims,injurednothospitalizedinaccidents,accidentswithvictims)">POST (por parámetros)</button>
        <button type="button" class="btn btn-dark" ng-click="sendPost()">POST</button>
        <button type="button" class="btn btn-warning" ng-click="sendPut(province,year,victims,injurednothospitalizedinaccidents,accidentswithvictims)">PUT</button>
        <button type="button" class="btn btn-danger" ng-click="sendDelete()">DELETE</button>
    </div>
    <div>
        <div class="col-xs-5" style="width: 50%;float:left;">
            <label>Province:<input class="form-control text-center" ng-model="province"/></label>
            <label>Year:<input class="form-control text-center" ng-model="year"/></label>
            <label>Victims:<input class="form-control text-center" ng-model="victims"/></label>
            <label>Injured Not Hospitalized In Accidents:<input class="form-control text-center" ng-model="injurednothospitalizedinaccidents"/></label>
            <label>Accidents With Victims:<input class="form-control text-center" ng-model="accidentswithvictims"/></label>
        </div>
        <div class="col-xs-5" style="width: 50%;float:left;">
            <label class="input-lg" for="stateCode">State Code</label>
            <textarea class="form-control" rows="1" ng-model="stateCode"></textarea>
        </div>
        <div class="col-xs-5" style="width: 50%;float:left;">
            <label class="input-lg" for="dataResponse">Data response</label>
            <textarea class="form-control" rows="13" ng-model="dataResponse"></textarea>
        </div>

    </div>
</body>

</html>