
    <br><br>
    <h1>Editar heridos
    <br><br>
    
    <div class="alert alert-warning alert-dismissable">

        <center><strong>¡Atención!</strong> {{data}} </center>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Provincia</th>
                <th>Año</th>
                <th>Accidentes con víctimas</th>
                <th>Número de muertos</th>
                <th>Heridos hospitalizados</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ updatedInjuredHospitalized.province }}</td>
                <td>{{ updatedInjuredHospitalized.year }}</td>
                <td>
                    <input type="number" class="form-control" ng-model= updatedInjuredHospitalized.accident_with_victim value="Accidentes con victimas"/>
                </td>
                <td>
                    <input type="number" class="form-control" ng-model= updatedInjuredHospitalized.number_of_deceased value="Numero de muertos"/>
                </td>
                <td>
                    <input type="number" class="form-control" ng-model= updatedInjuredHospitalized.injured_hospitalized value="Heridos hospitalizados"/>
                </td>
                <td>
    
                    <button class="btn btn-primary" ng-click="updateInjuredHospitalized()">Editar</button>
                </td>
            </tr>
            <br><br>
        
        
        </tbody>
    </table>

